@import "@/styles/mixins/flex.scss";

.create_love_pass_container {
  @apply container;

  margin: 0 auto;
  padding-top: theme("spacing.20");

  h2 {
    @apply text-3xl;

    font-weight: 700;
    text-align: center;
  }

  form {
    @include flex_column();

    gap: theme("spacing.4");
    border: 1px solid theme("borderColor.gray.300");
    padding: theme("padding.6");
    border-radius: theme("borderRadius.lg");
    margin-top: theme("spacing.6");
  }

  .card_container {
    @include flex_center();

    margin-top: theme("spacing.6");
  }
}
