@import "@/styles/mixins/flex.scss";

.footer {
  @apply gap-4 mt-20;

  background-color: var(--color-primary);
  color: var(--background);
  height: var(--footer-height);
  align-items: center;

  @include flex_column();

  p {
    @apply lg:text-lg;

    text-align: center;

    a {
      span {
        font-weight: 700;
      }
    }
  }
}

.footer_links {
  @apply gap-3;

  display: flex;
  align-items: center;

  a {
    p {
      text-decoration-line: underline;

      &:hover {
        text-decoration-line: none;
      }
    }
  }
}
