@import "@/styles/mixins/flex.scss";

.nav_bar {
  @apply shadow-md;

  width: 100%;
  height: var(--navbar-height);
  background-color: var(--color-primary);
  color: var(--background);
  display: flex;
  align-items: center;
}

.nav_bar_container {
  @apply container px-6;

  @include flex_center();

  margin: 0 auto;

  a {
    h1 {
      @apply text-2xl sm:text-3xl;

      font-weight: 700;
    }
  }
}

.nav_bar_container_links {
  @apply gap-3;

  display: flex;
  align-items: center;

  a {
    p {
      text-decoration-line: underline;

      &:hover {
        text-decoration-line: none;
      }
    }
  }
}
